<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WELCOME!!</h1>
    <h2>Enter your details below</h2>
    <div>
        <%result.forEach(item=>{ %>
            <h4>Book Name:<%=item.book_name%></h4>
            <h4>Author:<%=item.author%></h4>
        <%});%>
    </div>       
</body>
</html>